<h3>Latest Classes</h3>
<div class="col_4">
	<h4>Styling and Arranging</h4>
	<p>In this course you will learn the elements and principles of design, how to use the flowers and foliage available to you in your area, and the mechanics of arranging flowers in vases, in floral foam arrangements, and as hand-held bouquets.</p>
    <a class="button" href="#">View Class</a> 
	</div>
	
	<div class="col_4">
	<h4>The <i>7 Elements</i> of Interior Designing</h4>
	<p>When thinking about interior design, words like creativity and flair immediately spring to mind – but
        many would be surprised to find there is a degree of science involved. The interior design elements include space, line, forms, light, colour, texture and pattern.
        </p>
    <a class="button" href="#">View Class</a>
	</div>
	
	<div class="col_4">
	<h4>Importance of Texture</h4>
	<p>You know how sometimes you can just look at a room and know that something is missing? All the components of a complete design are there – color scheme, furniture, décor items – but the entire room just feels a little flat. </p>
    <a class="button" href="#">View Class</a>
	</div>