<h5>Learner & Educator Login</h5>
    <form>
        <label>Username: </label>
        <input type="text" name="username">
        <label>Password: </label>
        <input type="password" name="password"><br>
        <input class="button" type="submit" value="submit">
    </form>