<!DOCTYPE html>
<html><head>
<title>LiveInterior</title>
<!--<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />---->
<link rel="stylesheet" type="text/css" href="/stylesheets/kickstart.css" media="all" />                  
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" />                          
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/kickstart.js"></script>                                  
</head><body>

<!-- Menu Horizontal -->
<ul class="menu">
<li class="current"><a href="">HOME</a></li>
<li><a href="/classes">CLASSES</a></li>
</ul>

<div class="grid">
	
<div class="col_12">
	<div class="col_9">
	<h3>HEYY! Welcome to LiveInterior</h3>
	<p><!--<img class="align-left" src="http://placehold.it/180x150/4D99E0/ffffff.png&text=180x150" width="180" height="150" />--->
        In today's world, it seems as though there truly is an app for everything, and learning home design is no exception. Looking for the perfect vintage chair? Want to envision what a new paint color would look like in your space, without getting out the rollers? Need a floor plan for your home? Whip out your smartphone. From learning how to shop and color planning to measuring and arranging, there's an app for learning nearly every step of the design process. Now you really have no excuse to put off that renovation.</p>

	<!----<p>El illum dolore eu <span class="icon" data-icon="2"></span> feugiat nulla facilisis at vero eros et accumsan et iusto odio 
	dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam 
	liber tempor cum soluta nobis eleifend <code>&lt;h1&gt;Sample Code&lt;/h1&gt;</code> option 
	congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
	
	<p>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
	magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
	nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 
	molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim 
	qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum 
	soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>---->
	</div>
	
	<div class="col_3">
    <h5>Learner & Educator Login</h5>
    <form>
        <label>Username: </label>
        <input type="text" name="username">
        <label>Password: </label>
        <input type="password" name="password">
        <input class="button" type="submit" value="submit">
    </form>
	<!--<ul class="icons">
	<li><i class="fa fa-li fa-check"></i> </li>
	<li><i class="fa fa-li fa-check"></i> </li>
	<li><i class="fa fa-li fa-check"></i> </li>
	<li><i class="fa fa-li fa-check"></i> </li>
	</ul>-->
	
	<!---<h5>Sample Icons</h5>
	<i class="fa fa-twitter-square fa-3x"></i> 
	<i class="fa fa-facebook-square fa-3x"></i>
	<i class="fa fa-linkedin-square fa-3x"></i>
	<i class="fa fa-github-square fa-3x"></i>
	
	<h5>Button w/Icon</h5>
	<a class="button orange small" href="#"><i class="fa fa-rss"></i> RSS</a>-->
	</div>
	
	<hr />
	
	<div class="col_4">
	<h4>Styling and Arranging</h4>
	<p>In this course you will learn the elements and principles of design, how to use the flowers and foliage available to you in your area, and the mechanics of arranging flowers in vases, in floral foam arrangements, and as hand-held bouquets.</p>
    <a class="button" href="#">View Class</a> 
	</div>
	
	<div class="col_4">
	<h4>The <i>7 Elements</i> of Interior Designing</h4>
	<p>When thinking about interior design, words like creativity and flair immediately spring to mind – but
        many would be surprised to find there is a degree of science involved. The interior design elements include space, line, forms, light, colour, texture and pattern.
        </p>
    <a class="button" href="#">View Class</a>
	</div>
	
	<div class="col_4">
	<h4>Importance of Texture</h4>
	<p>You know how sometimes you can just look at a room and know that something is missing? All the components of a complete design are there – color scheme, furniture, décor items – but the entire room just feels a little flat. </p>
    <a class="button" href="#">View Class</a>
	</div>
	
	
</div>

</div><!-- END GRID -->

<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer">
&copy; Copyright 2019 All Rights Reserved. <a href="">LiveInterior</a>
</div>

</body></html>