<!DOCTYPE html>
<html><head>
<title>LiveInterior</title>
<!--<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />---->
<link rel="stylesheet" type="text/css" href="/stylesheets/kickstart.css" media="all" />                  
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" />                          
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/kickstart.js"></script>                                  
</head><body>

<!-- Menu Horizontal -->
<ul class="menu">
<li class="current"><a href="">HOME</a></li>
<li><a href="/classes">CLASSES</a></li>
</ul>

<div class="grid">
	
<div class="col_12">
	<div class="col_9">
	{{{body}}}
	<!----<p>El illum dolore eu <span class="icon" data-icon="2"></span> feugiat nulla facilisis at vero eros et accumsan et iusto odio 
	dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam 
	liber tempor cum soluta nobis eleifend <code>&lt;h1&gt;Sample Code&lt;/h1&gt;</code> option 
	congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
	
	<p>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
	magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
	nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 
	molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim 
	qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum 
	soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>---->
	</div>
	
	<div class="col_3">
    {{>login}}
	<!--<ul class="icons">
	<li><i class="fa fa-li fa-check"></i> </li>
	<li><i class="fa fa-li fa-check"></i> </li>
	<li><i class="fa fa-li fa-check"></i> </li>
	<li><i class="fa fa-li fa-check"></i> </li>
	</ul>-->
	
	<!---<h5>Sample Icons</h5>
	<i class="fa fa-twitter-square fa-3x"></i> 
	<i class="fa fa-facebook-square fa-3x"></i>
	<i class="fa fa-linkedin-square fa-3x"></i>
	<i class="fa fa-github-square fa-3x"></i>
	
	<h5>Button w/Icon</h5>
	<a class="button orange small" href="#"><i class="fa fa-rss"></i> RSS</a>-->
	</div>
	
	<hr />
	
	{{>classes}}
	
	
</div>

</div><!-- END GRID -->

<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer">
&copy; Copyright 2019 All Rights Reserved. <a href="">LiveInterior</a>
</div>

</body></html>